<div *ngIf='videoId'>
    <iframe class='playerBox' width="1280" height="720" [src]="url" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <div class="videoDetails">
        <ng-container *ngFor='let video of playlist'>
            <ng-container *ngIf='video.id.videoId || video.id'>
                <ng-container *ngIf='video.id.videoId === videoId || video.id === videoId'>
                    <h2>{{video.snippet.title}}</h2>
                    <p>{{video.snippet.description}}</p>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>